# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/

# Database
*.db
*.sqlite3

# Env
.env

# IDE
.vscode/
.idea/
.ruff_cache

# Logs
*.log

# Docker volumes
docker/data/

app/config_gen/configs/certs/
app/config_gen/configs/caddy/Caddyfile
app/config_gen/configs/xray/config.json
app/config_gen/configs/hysteria2/config.yaml
